@import url("./reset.css");

.container {
    padding: 0 auto;
    margin: 0 auto;
    width: 942px;
}

.header__container {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-flow: column;
}

.menu__container {
    display: flex;
    justify-content: space-between;
}

.our-story__container {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-flow: column;
}

.header {
    background: url("./../images/background.png") center/cover no-repeat;
    color: white;
}

.header__logo {
    padding: 41px 0 317px 0;
}

.header__title {
    font-family: "Bebas Neue";
    font-size: 3.75rem;
    line-height: 4.3944rem;
    letter-spacing: .3569rem;
    font-weight: bold;
}

.header__descr {
    font-family: 'Open Sans';
    font-size: 1rem;
    line-height: 1.1875rem;
    padding: 0 0 221px 0;
}

.header__scroll {
    font-family: 'OpenSans';
    font-size: .6875rem;
    line-height: .8125rem;
    letter-spacing: .2313rem;
    padding: 0 0 71px 0;
}

.menu {
    border: 1px solid #E6E6E6;
}

.menu__logo {
    padding: 24.65px 0 24.31px 0;
}

.menu__menu {
    display: flex;
    align-items: center;
    font-family: 'OpenSans';
    font-size: .75rem;
    line-height: .875rem;
    letter-spacing: .0682rem;
    padding: 0px;
    color: #48555B;
}

.menu__menu-list {
    display: flex;
    justify-content: space-between;
    width: 410px;
    height: 100%;
}

.menu__menu-list-item {
    display: flex;
    flex-grow: 1;
}

.menu__menu-list-item:not(:first-child):not(:last-child) {
    justify-content: center;
    align-items: center;
}

.menu__menu-list-item:first-child {
    justify-content: start;
    align-items: center;
}

.menu__menu-list-item:last-child {
    justify-content: end;
    align-items: center;
}

.menu__menu-list-item:hover {
    transition: ease-in-out .1s;
    color: #00A4E5;
}

.our-story {
    padding: 58px 0 118px 0;
    color: #48555B;
}

.our-story__title {
    font-family: 'Open Sans';
    font-size: 1.125rem;
    line-height: 1.3125rem;
    letter-spacing: .1441rem;
    position: relative;
    padding: 0 0 65px 0;
    font-weight: bold;
}

.our-story__title-line {
    border-top: 1px solid #00A4E5;
    border-bottom: 1px solid #00A4E5;
    position: absolute;
    width: 50px;
    left: 50%;
    top: 35px;
    translate: calc(-50%);
}

.our-story__main-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.our-story__main-content-left {
    width: 404px;
}

.our-story__descr {
    font-family: 'Open Sans';
    font-size: 1.25rem;
    line-height: 1.4375rem;
    letter-spacing: .0117rem;
    font-weight: bold;
    margin: 0 0 30px 0;
}

.our-story__descr span {
    color: #16ACE8;
}

.our-story__sub-descr {
    font-family: 'Open Sans';
    font-size: .8125rem;
    line-height: 1.4375rem;
    letter-spacing: .0117rem;
    margin: 0 0 2px 0;
}

.our-story__main-content-right {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 459px;
}

.our-story__main-content-right-card {
    height: 220px;
    width: 140px;
}

.our-story__main-content-right-card-title {
    font-family: 'Open Sans';
    font-size: 1.5rem;
    line-height: 1.8125rem;
    letter-spacing: .0117rem;
    font-weight: bold;
    color: white;
    width: 50%;
    padding: 15px 0 0 14px;
}

.our-story__main-content-right-card:nth-child(1) {
    background: url("./../images/our-story__card-1.png") center/cover no-repeat;
}

.our-story__main-content-right-card:nth-child(2) {
    background: url("./../images/our-story__card-2.png") center/cover no-repeat;
}

.our-story__main-content-right-card:nth-child(3) {
    background: url("./../images/our-story__card-3.png") center/cover no-repeat;
}

.our-capabilities {
    color: #48555B;
    padding: 0 0 115px 0;
}

.our-capabilities__main-content-top {
    display: flex;
    justify-content: space-between;
    margin: 0 0 76px 0;
}

.our-capabilities__title {
    font-family: 'Open Sans';
    font-size: 1.125rem;
    line-height: 1.3125rem;
    letter-spacing: .1441rem;
    padding: 0 118px 0 0;
    position: relative;
}

.our-capabilities__title-line {
    border-top: 1px solid #00A4E5;
    border-bottom: 1px solid #00A4E5;
    position: absolute;
    width: 50px;
    left: 0;
    bottom: 0;
}

.our-capabilities__descr {
    font-family: 'Open Sans';
    font-size: .6875rem;
    line-height: 1.1875rem;
    letter-spacing: .0125rem;
    width: 405px;
}

.our-capabilities__btn {
    font-family: 'Open Sans';
    font-size: .8125rem;
    line-height: .9375rem;
    letter-spacing: .0313rem;
    font-weight: bold;
    background: #00A4E5;
    border: none;
    color: white;
    padding: 11px 29px;
}

.our-capabilities__btn:hover{
    background: #FF3000;
    transition: ease-in-out .1s;
}

.our-capabilities__main-content-bottom {
    display: flex;
    justify-content: space-between;
}

.our-capabilities__main-content-bottom-card {
    width: 295px;
    height: 330px;
    border: 1px solid #E6E6E6;
}

.our-capabilities__main-content-bottom-card-container {
    padding: 38px 22px 39px 23px;
}

.our-capabilities__main-content-bottom-card-image {
    padding: 0 0 25px 0;
}

.our-capabilities__main-content-bottom-card-title {
    font-family: 'Open Sans';
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: .0267rem;
    font-weight: bold;
    padding: 0 0 13px 0;
}

.our-capabilities__main-content-bottom-card-descr {
    font-family: 'Open Sans';
    font-size: .8125rem;
    line-height: 1.4375rem;
    letter-spacing: .0117rem;
}